<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{image/logo.png}">
    <title>erro</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{fuqiang/bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Menu CSS -->
    <link th:href="@{fuqiang/bower_components/metisMenu/dist/metisMenu.min.css}" rel="stylesheet">
    <!-- Menu CSS -->
    <link th:href="@{fuqiang/bower_components/morrisjs/morris.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{fuqiang/css/style.css}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <h4>老板，页面出现异常了！不要慌张，可能是网络延迟，导致数据还没刷新过来！抽根烟冷静分析一下</h4>


            <div>
            <div th:utext="'&lt;!--'" th:remove="tag"></div>
            <div th:utext="'异常的URL:'+${url}" th:remove="tag"></div>
            <div th:utext="'异常信息:'+${exception.message}" th:remove="tag"></div>
            <ul th:remove="tag">
                <li th:each="st:${exception.stackTrace}" th:remove="tag">
                    <span th:utext="${st}" th:remove="tag"></span></li>
            </ul>
            <div th:utext="'&lt;!--'" th:remove="tag"></div>
            </div>
        <footer class="footer text-center">富强大法好</footer>
    </div>
</section>
</body>

</html>
